<header>
    <link rel="stylesheet" href="
          C:/Users/Lenovo/Desktop/emi calculator/EMI-Cal/abtus.css
        ">
</header>
<div class="about-section">
    <h1>About Us </h1>
    <p style="font-size: 20px; font-weight: 600; margin-top: 40px;"><b>Dreaming of owning a vehicle? Our Vehicle Loan aims to ensures that you drive around the city in your own
            vehicle!
            Loans comes with exclusive features such as up to 100% financing, flexible repayment tenure and affordable
            EMI.
            Customised Car Loans are available on all the brands like Mahindra, Hyundai, TATA Motors, Maruti Suzuki,
            Renault, and Nissan amongst
            others. Our well- trained officials will help you take informed decisions and assist you with the
            documentation process.
            The loan process is easier and minimal documents are required. Apply Loan and make your dream of owning a
            car come true. :) </b>
    </p>

</div>

<h2 style="text-align:center">APPLY LOAN</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../assets/img/car3.jpg" alt="Jane" style="width:100%">
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/img/car2.jpg" alt=" Mike" style="width:60%">
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/img/car1.jpg" alt=" John" style="width:120%">
        </div>
    </div>

</div>

<footer class="about-section">
    CONTACT US
    <div style="margin-bottom: 4%;">
        Call: 1800-419-5959</div>
</footer>