<div class="signupSection">
  <div class="info">
    <h2>Application Form</h2>
    <p>Page 1</p>
    <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>

  </div>
  <form [formGroup]="appForm" (ngSubmit)="onSubmit()" class="signupForm" name="signupform">
    <h2>Personal Details</h2>
    <ul class="noBullet">
      <li>
        <label for="name"></label>
        <input type="text" class="inputFields" id="name" placeholder="Name" formControlName="name">
      </li>
      <li>
        <label for="age"></label>
        <input type="number" class="inputFields" id="age" placeholder="Age" formControlName="age">
      </li>
      <li>
        <label for="gender"></label>
        <input type="text" class="inputFields" id="gender" placeholder="Gender" formControlName="gender">
      </li>
      <li>
        <label for="employment"></label>
        <input type="text" class="inputFields" id="employment" placeholder="Employment Type"
          formControlName="employment">
      </li>
      <li>
        <label for="existingEmi"></label>
        <input type="number" class="inputFields" id="existingEmi" placeholder="Existing Emi"
          formControlName="existingEmi">
      </li>
      <li>
        <label for="salary"></label>
        <input type="number" class="inputFields" id="salary" placeholder="Salary" formControlName="salary">
      </li>
      <li>
        <label for="phoneNo"></label>
        <input type="number" class="inputFields" id="phoneNo" placeholder="Phone Number" formControlName="phoneNo">
      </li>
      <li>
        <label for="emailId"></label>
        <input type="text" class="inputFields" id="emailId" placeholder="Email ID" formControlName="emailId">
      </li>
      <li>
        <label for="aadharNo"></label>
        <input type="number" class="inputFields" id="aadharNo" placeholder="Aadhar Number" formControlName="aadharNo">
      </li>
      <li>
        <label for="panNo"></label>
        <input type="text" class="inputFields" id="panNo" placeholder="Pan Number" formControlName="panNo">
      </li>
      <li>
        <button type="submit" id="join-btn" (click)="onBack()"> Back </button>
        <button type="submit" id="join-btn">Next</button>

      </li>

      <br><br><br>

    </ul>

  </form>

</div>