<div class="signupSection">

  <form action="#" method="POST" class="signupForm" name="signupform">
    <h1>Congratulations</h1>
    <h3>You have been approved for the loan</h3>
    <br><br>

    <ul class="noBullet">
      <h4>Your Loan Quotes</h4>
      <table class="center">


        <tbody>

          <tr>
            <th>

              <p>Loan Ammount</p>
              <label for="On Road Price"></label>
              <input type="text" class="inputFields" id="On Road Price" value=""
                oninput="return userNameValidation(this.value)" required />

            </th>
            <td></td>
            <td></td>
            <th>
              <p>Best Rate</p>
              <label for="On Road Price"></label>
              <input type="text" class="inputFields" id="On Road Price" value=""
                oninput="return userNameValidation(this.value)" required />

            </th>

          </tr>

          <tr>
            <th>

              <p>EMI</p>
              <label for="On Road Price"></label>
              <input type="text" class="inputFields" id="On Road Price" value=""
                oninput="return userNameValidation(this.value)" required />

            </th>
            <td></td>
            <td></td>
            <th>
              <p>Processing Fee</p>
              <label for="On Road Price"></label>
              <input type="text" class="inputFields" id="On Road Price" value=""
                oninput="return userNameValidation(this.value)" required />

            </th>

          </tr>
          <tr>
            <th>
              <p>A/C Type</p>
              <label for="On Road Price"></label>
              <input type="text" class="inputFields" id="On Road Price" value=""
                oninput="return userNameValidation(this.value)" required />
            </th>
          </tr>


        </tbody>



      </table>
      <br><br>
      <button type="submit" id="join-btn" (click)="onSubmit()">Apply for Loan</button>
      <button type="submit" id="join-btn">EMI Scheduler</button>

    </ul>

    <br><br><br><br><br><br>


  </form>