<div class="signupSection">

  <form action="#" method="POST" class="signupForm" name="signupform">
    <h1>Congratulations!</h1>
    <h3>You have been approved for the loan</h3>
    <br><br>
    <ul class="noBullet">
      <h4>Your Loan Quotes</h4>
      <table class="center">
        <tbody>
          <tr>
            <th>
              <p>Loan Ammount:</p>
              <p>{{amount}}</p>
            </th>
            <td></td>
            <td></td>
            <th>
              <p>Best Rate(%)</p>
              <p>{{rate}}</p>
            </th>
          </tr>
          <tr>
            <th>
              <p>EMI</p>
              <p>{{emi}}</p>

            </th>
            <td></td>
            <td></td>
            <th>
              <p>Loan Tenure(months)</p>
              <p>{{tenure}}</p>
            </th>
          </tr>
          <tr>
            <th>
              <p>A/C Type</p>
              <p>Personel Account</p>
            </th>
            <td></td>
            <td></td>
            <th>
              <p>Processing Fee</p>
              <p>{{processing}}</p>
            </th>
          </tr>
        </tbody>
      </table>
      <br><br>
      <button type="submit" id="join-btn" (click)="onSubmit()">Apply for Loan</button>
      <button type="submit" id="join-btn">EMI Scheduler</button>
      <br>
      <button type="submit" id="join-btn" (click)="onBack()">Back</button>

    </ul>

    <br><br><br><br><br><br><br><br>