<div id="body">

  <div class="part">
    <div class="part2">
      <h1 id=title1>CAR LOAN EMI CALCULATOR</h1>
      <h2 id=title1>KEY POINTS</h2>
      <ul>
        <li>Lowest interest rate @5.00% onwards</li>
        <li>Loan up to 100% of on road price(On certain car models)</li>
        <li>Loan tenure from 12months to 7 years</li>
      </ul>
    </div>
  </div>

  <div class="part3">
    <div class="part5" ng-controller="nyctrm" ng-app="myapp">
      <div class="part4">

        <div class="part6">
          <h4 id=title1>EMI CALCULATOR</h4>
        </div>
        <div class="center">
          <p>LOAN VALUE(₹):- </p><input type="number" class="form-control" min="100000" max="10000000"
            [(ngModel)]="loan" value="{{loan}}" />

          <p>TENURE(YEARS):-</p><input type="number" class="form-control" min="1" max="7" [(ngModel)]="years" />

          <p>INTEREST PERCENTAGE(%):- </p><input type="number" class="form-control" step="0.1" min="5"
            [(ngModel)]="interest" />
        </div>

      </div>
      <div class="part7">
        <div class="part6">
          <h4 id=title1>Break-up of Total Payment</h4>
        </div>
        <div class="emidetails">
          <h5>Equated Monthly Installments (EMI) For <b>{{this.years*12}}</b> Months</h5>
          <b id="emi">₹{{fun()}}</b>
        </div>

        <div class="details">
          <div class="labels">
            <h5>Principal amount: <b>₹{{loan}}</b>
              Interest amount: <b>₹{{ins()}}</b>
              Total amount: <b>₹{{total()}}</b> </h5>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>