<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin:0}

.icon-bar {
  height:950px;
  width: 300px;
  background-color:LIGHTBLUE;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 50px;
  transition: all 0.3s ease;
  color: White;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: black;
}

.active {
  background-color:black;
}
</style>
<body>

<div class="icon-bar">
   <a class="active"><label>USER DASHBOARD</label></a>
<a class="#"><label>Loan Amount</label></a>
<a class="#"><label>EMI Scheduler</label></a>
<a class="#"><label>Settings</label></a>
</div>
  
</body>
</html> 
