<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {margin:0}

.icon-bar {
    height: 680px;
    width: 300px;
    background-color: rgb(36, 98, 119);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 50px;
    transition: all 0.3s ease;
    color: White;
    font-size: 36px;
  }

.icon-bar a:hover {
  background-color: black;
}

.active {
  background-color:black;
}
</style>
<body>

<div class="icon-bar">
   <a routerLink="/userdashboard">User Dashboard</a>
   <a routerLink="/userdashboardloan"> Application Details </a>
</div>
  
</body>
</html> 
