<div class="container">
    <img src="../../assets/img/vehicleHome.jpg" alt="Snow" style="width:100%;">
    <div class="right">
        <div class="text-center">
            <h1 style="font-size: 50px">Change Password!</h1>
        </div>
        <form [formGroup]="forgotpasswordForm" (ngSubmit)="forgotpassword()">
            <div class="formclass">
                <label for="userId" class="form-label" style="padding-right: 83px;">User Id</label>
                <input formControlName="userId" type="number" class="form-control" id="userId">
            </div>
            <div class="formclass">
                <label for="loginPassword" class="form-label" style="padding-right: 6px;">New Password</label>
                <input formControlName="password" type="password" class="form-control" id="loginPassword">
            </div>
            <button type="submit" class="button">Update Password</button>
        </form>
        <br>
        <a style="color: rgb(6, 80, 71); margin-top: 10px;" routerLink="/login"> Click here to login!</a>
    </div>
</div>