<div class="signupSection">

  <div class="signupForm" name="signupform">
    <h2>Vehicle Details</h2>
    <ul class="noBullet">
      <li>
        <label for="carMake"></label>
        <input type="text" class="inputFields" id="carMake" formControlName="carMake" required placeholder="Car Make">
      </li>

      <li>
        <label for="Car Model"></label>
        <input type="text" class="inputFields" placeholder="Existing EMI">
      </li>

      <li>
        <label for="exShowroomPrice"></label>
        <input type="text" class="inputFields" placeholder="Ex-Showroom Price">
      </li>

      <li>
        <label for="price"></label>
        <input type="text" class="inputFields" #price required placeholder="On Road Price">
      </li>
    </ul>
    <h2>Applicant Details</h2>
    <ul class="noBullet">

      <li>
        <label for="name"></label>
        <input type="text" class="inputFields" placeholder="Name">
      </li>

      <li>
        <label for="age"></label>
        <input type="text" class="inputFields" #age placeholder="Age">

      <li>
        <label for="gender"></label>
        <input type="text" class="inputFields" placeholder="Gender">
      </li>
      <li>
        <label for="employment"></label>
        <input type="text" class="inputFields" placeholder="Type Of Employment">
      </li>

      <li>
        <label for="yearlySalary"></label>
        <input type="text" class="inputFields" #salary placeholder="Yearly Salary">
      </li>

      <li>
        <label for="existingEmi"></label>
        <input type="text" class="inputFields" #emi placeholder="Existing EMI">
      </li>
    </ul>
    <h2>Contact Details</h2>
    <ul class="noBullet">

      <li>
        <label for="mobileNo"></label>
        <input type="text" class="inputFields" placeholder="Mobile No">
      </li>

      <li>
        <label for="emailID"></label>
        <input type="text" class="inputFields" placeholder="Email ID">
      <li>
        <button id="join-btn" (click)="getEligibility(price.value,emi.value,age.value,salary.value)">Check
          Eligibility</button>
      </li>
      <li>
        <button type="submit" id="join-btn" (click)="backToDashboard()">Back to Dashboard</button>
      </li>
    </ul>
    <br><br><br><br><br><br>

  </div>

</div>