<div class="signupSection">

  <form action="#" method="POST" class="signupForm" name="signupform">
    <h2>Vehicle Details</h2>
    <ul class="noBullet">

      <li>
        <label for="Car Make"></label>
        <input type="text" class="inputFields" id="Car Make" placeholder="Car Make" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>

      <li>

        <label for="Car Model"></label>
        <input type="text" class="inputFields" id="Car Model" placeholder="Car Model" value=""
          oninput="return userNameValidation(this.value)" required />

      <li>
        <label for="Ex-Showroom Price"></label>
        <input type="text" class="inputFields" id="Ex-Showroom Price" placeholder="Ex-Showroom Price" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>
      <li>
        <label for="On Road Price"></label>
        <input type="text" class="inputFields" id="On Road Price" placeholder="On Road Price" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>
    </ul>
    <h2>Applicant Details</h2>
    <ul class="noBullet">

      <li>
        <label for="Name"></label>
        <input type="text" class="inputFields" id="Name" placeholder="Name" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>

      <li>

        <label for="Age"></label>
        <input type="text" class="inputFields" id="Age" placeholder="Age" value=""
          oninput="return userNameValidation(this.value)" required />

      <li>
        <label for="Gender"></label>
        <input type="text" class="inputFields" id="Gender" placeholder="Gender" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>
      <li>
        <label for="Type Of Employment"></label>
        <input type="text" class="inputFields" id="Type Of Employment" placeholder="Type Of Employment" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>

      <li>
        <label for="Yearly Salary"></label>
        <input type="text" class="inputFields" id="Yearly Salary" placeholder="Yearly Salary" value=""
          oninput="return userNameValidation(this.value)" required />

      </li>
      <li>
        <label for="Existing EMI"></label>
        <input type="text" class="inputFields" id="Existing EMI" placeholder="Existing EMI" value=""
          oninput="return userNameValidation(this.value)" required />

      </li>
    </ul>
    <h2>Contact Details</h2>
    <ul class="noBullet">

      <li>
        <label for="Mobile No"></label>
        <input type="text" class="inputFields" id="Mobile No" placeholder="Mobile No" value=""
          oninput="return userNameValidation(this.value)" required />
      </li>

      <li>

        <label for="Email ID"></label>
        <input type="text" class="inputFields" id="Email ID" placeholder="Email ID" value=""
          oninput="return userNameValidation(this.value)" required />


      <li>
        <button type="submit" id="join-btn" (click)="onSubmit()">Check Eligibility</button>
      </li>
    </ul>
    <br><br><br><br><br><br>


  </form>
</div>