<div class="signupSection">
    <div class="info">
      <h2>Application Form</h2>
      <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
      <p>Page 1</p>
    </div>
    <form #applicantForm = "ngForm" (ngSubmit)="onSubmit()" action="#" method="POST" class="signupForm" name="signupform">
      <h2>Personal Details</h2>
      <ul class="noBullet">
        <li>
          <label for="User Id"></label>
          <input type="number" class="inputFields" id="userId"  placeholder="User Id" value=""/>
        </li>
        <li>
          <label for="Name"></label>
          <input type="text" class="inputFields" id="name"  placeholder="Name" value=""/>
        </li>
        <li>
            <label for="Age"></label>
            <input type="number" class="inputFields" id="age"  placeholder="Age" value=""/>
          </li>
          <li>
            <label for="Gender"></label>
            <input type="text" class="inputFields" id="gender"  placeholder="Gender" value="" />
          </li>
          <li>
            <label for="phoneNo"></label>
            <input type="number" class="inputFields" id="phoneNo"  placeholder="Mobile No" value="" />
          </li>
          <li>
            <label for="Email-ID"></label>
            <input type="text" class="inputFields" id="email"  placeholder="Email-ID" value="" />
          </li>
          <li>
            <label for="aadharNo"></label>
            <input type="number" class="inputFields" id="aadharNo"  placeholder="Aadhar No" value="" />
          </li>
          <li>
            <label for="panNo"></label>
            <input type="text" class="inputFields" id="panNo"  placeholder="Pan No" value="" />
          </li>
          <li>
            <label for="state"></label>
            <input type="text" class="inputFields" id="state"  placeholder="State" value="" />
         </li>
         <li>
            <label for="city"></label>
            <input type="text" class="inputFields" id="city" placeholder="City" value="" />
          </li>
          <li>
            <label for="area"></label>
            <input type="text" class="inputFields" id="area"  placeholder="Area" value="" />
          </li>
          <li>
            <label for="houseNo"></label>
            <input type="text" class="inputFields" id="houseNo"  placeholder="House Number" value="" />
          </li>
          <li>
            <label for="pinCode"></label>
            <input type="number" class="inputFields" id="pinCode"  placeholder="Pin code" value="" />
          </li>
        <li>
            <button type="submit"id="join-btn"  >Next</button>
        </li>
      </ul>
      <br><br><br><br><br><br><br>
    </form>
    
  </div>