<!DOCTYPE html>

<body>

  <h1 style="font-size: 60px">Clients!</h1>
  <div>
    <a routerLink="/admindashboard" style="color: rgb(12, 62, 85); font-size: 20px;">Back to admin dashboard</a>
  </div>

  <div style="align-items: center; margin-left: 20%; font-size: 20px;">
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th>
            User Id
          </th>
          <th>
            Password
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let user of userDetails">
          <td>
            {{user.userId}}
          </td>
          <td>
            {{user.password}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>