<div class="signupSection">
  <div class="info">
    <h2>Application Form</h2>
    <i class="icon ion-ios-ionic-outline" aria-hidden="true"></i>
    <p>Page 5</p>
  </div>
  <form [formGroup]="appForm4" (ngSubmit)="onSubmit()"  class="signupForm" name="signupform">
    <h2>Loan Details</h2>
    <ul class="noBullet">
      <li>
        <label for="amount"></label>
        <input type="text" class="inputFields" id="amount"  placeholder="Loan Amount" formControlName = "amount">
      </li>
      <li>
          <label for="loanTenure"></label>
          <input type="text" class="inputFields" id="loanTenure"  placeholder="Loan Tenure" formControlName = "loanTenure">
        </li>
        <li>
          <label for="rateOfInterest"></label>
          <input type="text" class="inputFields" id="rateOfInterest"  placeholder="Rate Of Interest" formControlName = "rateOfInterest">
        </li>
        <li>
        <button type="submit"id="join-btn" (click)="onBack()"  >  Back</button>
          <button type="submit"id="join-btn" >Next</button>
          
      </li>
  
    </ul>
    <br><br><br><br><br><br><br>
  </form>
  
</div>