<!DOCTYPE html>

<body>

  <h1 style="font-size: 60px">Loan Amount!</h1>

  <div>
    <a routerLink="/userdashboard" style="color: rgb(12, 62, 85); font-size: 20px;">Back to user dashboard</a>
  </div>
  <div style="align-items: center; margin-left: 15%; font-size: 20px;"> My Details!
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th> Applicant Id </th>
          <th> Name </th>
          <th> Age </th>
          <th> Gender </th>
          <th> City </th>
          <th> Employement </th>
          <th> Existing Emi </th>
          <th> Salary </th>
          <th> Email Id </th>
          <th> Phone </th>
          <th> Aadhar No </th>
          <th> Pan No </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let applicant of applicantById">
          <td> {{applicant.applicantId}} </td>
          <td> {{applicant.name}} </td>
          <td> {{applicant.age}} </td>
          <td> {{applicant.gender}} </td>
          <td> {{applicant.address.city}} </td>
          <td> {{applicant.employment}} </td>
          <td> {{applicant.existingEmi}} </td>
          <td> {{applicant.salary}} </td>
          <td> {{applicant.emailId}} </td>
          <td> {{applicant.phoneNo}} </td>
          <td> {{applicant.aadharNo}} </td>
          <td> {{applicant.panNo}} </td>
        </tr>

      </tbody>
    </table>
  </div>


  <div style="align-items: center; margin-left: 15%; font-size: 20px; margin-top: 30px;"> Loan Details!
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th> Loan Id </th>
          <th> Account Type </th>
          <th> Amount </th>
          <th> Loan Tenure </th>
          <th> Rate of Interest </th>
          <th> Emi </th>
          <th> Loan Status </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let loan of loanByApplicantId">
          <td> {{loan.loanId}} </td>
          <td> {{loan.accountType}} </td>
          <td> {{loan.amount}} </td>
          <td> {{loan.loanTenure}} </td>
          <td> {{loan.rateOfInterest}} </td>
          <td> {{loan.emi}} </td>
          <td> {{loan.loanStatus}} </td>
        </tr>

      </tbody>
    </table>
  </div>
</body>