table, th, td, tbody {
    border: 1px solid;
  }
th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

div {
  overflow: auto;
}

body {
  overflow-y: scroll;
}
